# =========================
# PYTHON
# =========================

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# NODE
# =========================

node_modules/

# =========================
# ENV FILES
# =========================

.env
backend/.env
frontend/.env

# =========================
# DATABASE
# =========================

db.sqlite3
*.sqlite3

# =========================
# ML MODELS
# =========================

ml-engine/saved_models/

# =========================
# BUILD FILES
# =========================

dist/
build/
staticfiles/

# =========================
# VSCODE
# =========================

.vscode/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# LOG FILES
# =========================

*.log

# =========================
# CACHE
# =========================

.pytest_cache/
.mypy_cache/